SysBot.json
{
  "name": "SysBot",
  "nodes": [
    {
      "parameters": {
        "formTitle": "Add your file here",
        "formFields": {
          "values": [
            {
              "fieldLabel": "File",
              "fieldType": "file",
              "acceptFileTypes": ".pdf",
              "requiredField": true
            }
          ]
        },
        "options": {}
      },
      "id": "ead6e362-478a-42ee-9222-c087ba45077d",
      "name": "On form submission",
      "type": "n8n-nodes-base.formTrigger",
      "position": [
        -832,
        304
      ],
      "webhookId": "4e1e20d4-f759-42c8-8439-87b93f43aa7c",
      "typeVersion": 2.2
    },
    {
      "parameters": {
        "mode": "insert",
        "qdrantCollection": {
          "__rl": true,
          "mode": "id",
          "value": "rag_collection"
        },
        "options": {}
      },
      "id": "683c5e1e-1b53-4151-93a4-c2db8f4d0b94",
      "name": "Qdrant Vector Store",
      "type": "@n8n/n8n-nodes-langchain.vectorStoreQdrant",
      "position": [
        -608,
        304
      ],
      "typeVersion": 1.2,
      "credentials": {
        "qdrantApi": {
          "id": "xnG9wkVJsd7AKT8M",
          "name": "QdrantApi account"
        }
      }
    },
    {
      "parameters": {
        "model": "mxbai-embed-large:latest"
      },
      "id": "45cdba30-b521-48ac-849b-8a9425072a6e",
      "name": "Embeddings Ollama",
      "type": "@n8n/n8n-nodes-langchain.embeddingsOllama",
      "position": [
        -704,
        512
      ],
      "typeVersion": 1,
      "credentials": {
        "ollamaApi": {
          "id": "zwLoXPUzT7t2B0YH",
          "name": "Ollama account"
        }
      }
    },
    {
      "parameters": {
        "dataType": "binary",
        "options": {}
      },
      "id": "a9b427a7-74c4-4922-bcb5-e11d33dd836a",
      "name": "Default Data Loader",
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "position": [
        -464,
        512
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "chunkSize": 200,
        "chunkOverlap": 50,
        "options": {}
      },
      "id": "430d1548-89ff-4246-8738-c92af42f27c9",
      "name": "Recursive Character Text Splitter",
      "type": "@n8n/n8n-nodes-langchain.textSplitterRecursiveCharacterTextSplitter",
      "position": [
        -464,
        688
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "35b5fcec-5f97-4725-840d-96346416f4cf",
      "name": "When chat message received",
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "position": [
        0,
        0
      ],
      "webhookId": "5e56a263-3a40-44bd-bc9d-1cfb3bc2a87d",
      "typeVersion": 1.1
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=={{ (() => {\n  const msgs = $json.messages || [];\n  if (!Array.isArray(msgs) || msgs.length === 0) return \"\";\n  return msgs.map(m => `${m.role}: ${m.content}`).join(\"\\n\");\n})() }}\n",
        "options": {
          "systemMessage": "=Eres **SysBot**, un asistente técnico especializado en **redes de computadoras, infraestructura, protocolos, seguridad, SDN, routing, switching, firewalls, VPNs, monitoreo y troubleshooting**.\n\n**Tus instrucciones principales, guías, comandos, diagramas y procedimientos están en la colección Qdrant `rag_collection`**.  \n**Primero siempre consulta este vector store** mediante el tool `retriever`. Si hay respuesta ahí, úsala con prioridad y cita lo más fiel posible.\n\n### Reglas clave:\n1. **Fuente principal = `rag_collection`**. Si la info está ahí, respóndela tal cual (comandos, pasos, configs).\n2. **Si no está en `rag_collection`**, responde con tu conocimiento general de redes — pero **indícalo sutilmente** como “en la práctica estándar…” o “por experiencia en entornos similares…”.\n3. **Pequeña libertad creativa**: puedes usar analogías, ejemplos reales, humor técnico ligero o frases coloquiales **solo si ayudan a aclarar** (ej. “imagina que el router es el portero del edificio…”). No exageres.\n4. **Multilingüe natural**: responde en el idioma del usuario. Si mezcla español e inglés técnico, tú también (ej. “el *keepalive* del BGP está en 60/180”). Traduce solo si es necesario para claridad.\n5. **Historial**: usas `Simple Memory1` con `sessionId`. Recuerda contexto sin repetirlo.\n6. **PDFs**: se cargan por form → splitter (200/50) → `mxbai-embed-large:latest` → `rag_collection`.\n\n**Sin RAG (conocimiento general + toque humano):**\n> En la práctica, si el enlace OSPF no converge, revisa primero MTU y *hello/dead timers*. A veces un simple `clear ip ospf process` salva el día.\n\n**Creatividad permitida (solo si suma):**\n> El firewall es como un bouncer de discoteca: sin VIP (política permit), nadie entra — ni siquiera el CEO.\n\n**Nunca inventes datos de `rag_collection`**. Si no está, di: “No encontré esa config en las guías cargadas”.\n\n¡Habla como ingeniero de redes que explica a un colega: claro, rápido y con algo de chispa cuando encaja!"
        }
      },
      "id": "f83af9af-8420-440b-8381-a366aa3a19c9",
      "name": "AI Agent",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "position": [
        384,
        256
      ],
      "typeVersion": 2
    },
    {
      "parameters": {
        "model": "llama3.2:latest",
        "options": {}
      },
      "id": "b6192f0a-a98c-4ee5-b7f6-347b92cb5c34",
      "name": "Ollama Chat Model",
      "type": "@n8n/n8n-nodes-langchain.lmChatOllama",
      "position": [
        272,
        464
      ],
      "typeVersion": 1,
      "credentials": {
        "ollamaApi": {
          "id": "zwLoXPUzT7t2B0YH",
          "name": "Ollama account"
        }
      }
    },
    {
      "parameters": {
        "mode": "retrieve-as-tool",
        "toolName": "retriever",
        "toolDescription": "Retrieve data from a semantic database to answer questions",
        "qdrantCollection": {
          "__rl": true,
          "mode": "id",
          "value": "rag_collection"
        },
        "options": {}
      },
      "id": "5858f6ed-a79a-47d0-956b-01afe4fcbb1e",
      "name": "Qdrant Vector Store1",
      "type": "@n8n/n8n-nodes-langchain.vectorStoreQdrant",
      "position": [
        624,
        464
      ],
      "typeVersion": 1.2,
      "credentials": {
        "qdrantApi": {
          "id": "xnG9wkVJsd7AKT8M",
          "name": "QdrantApi account"
        }
      }
    },
    {
      "parameters": {
        "model": "mxbai-embed-large:latest"
      },
      "id": "5761fbb7-6d5d-4710-9cd2-39a21690d42d",
      "name": "Embeddings Ollama1",
      "type": "@n8n/n8n-nodes-langchain.embeddingsOllama",
      "position": [
        624,
        624
      ],
      "typeVersion": 1,
      "credentials": {
        "ollamaApi": {
          "id": "zwLoXPUzT7t2B0YH",
          "name": "Ollama account"
        }
      }
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "d8fdab7c-0e1a-4e81-b28c-c002816ae8a6",
        "responseMode": "lastNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -32,
        256
      ],
      "id": "5414ad61-b934-4465-9859-8a73c594dcbb",
      "name": "Webhook",
      "webhookId": "d8fdab7c-0e1a-4e81-b28c-c002816ae8a6"
    },
    {
      "parameters": {
        "jsCode": "// Function node code\nconst body = $input.first().json.sessionId || ($input.first().json.body && $input.first().json.body.sessionId) ? $input.first().json : $input.first().json.body || $input.first().json;\nconst rawMessages = body.messages || (body.body && body.body.messages) || [];\n\nconst normalized = Array.isArray(rawMessages)\n  ? rawMessages.map(m => {\n      // si el mensaje ya es objeto {role,content}\n      if (typeof m === 'object' && m !== null && 'role' in m && 'content' in m) return { role: m.role, content: m.content };\n      // si viene como string (ej. JSON string) intenta parsear\n      if (typeof m === 'string') {\n        try {\n          const parsed = JSON.parse(m);\n          if (Array.isArray(parsed)) return parsed; // raro pero por si...\n          if (parsed && parsed.role && parsed.content) return { role: parsed.role, content: parsed.content };\n        } catch (e) {\n          // no es JSON: lo dejamos como user content por seguridad\n          return { role: 'user', content: m };\n        }\n      }\n      // fallback seguro\n      return { role: 'user', content: String(m) };\n    }).flat()\n  : [];\n\n// Aseguramos sessionId\nconst sessionId = $input.first().json.sessionId || ($input.first().json.body && $input.first().json.body.sessionId) || (body.sessionId || '');\n\nreturn [{\n  json: {\n    sessionId,\n    messages: normalized\n  }\n}];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        176,
        256
      ],
      "id": "303bee15-3e6f-42ae-aab0-cd348bde6e89",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $json.sessionId }}"
      },
      "id": "7836f9d1-da19-4c43-9aaf-321a0f20a7fb",
      "name": "Simple Memory1",
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "position": [
        480,
        480
      ],
      "typeVersion": 1.3,
      "notesInFlow": false
    }
  ],
  "pinData": {},
  "connections": {
    "Embeddings Ollama": {
      "ai_embedding": [
        [
          {
            "node": "Qdrant Vector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Ollama Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings Ollama1": {
      "ai_embedding": [
        [
          {
            "node": "Qdrant Vector Store1",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "On form submission": {
      "main": [
        [
          {
            "node": "Qdrant Vector Store",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Default Data Loader": {
      "ai_document": [
        [
          {
            "node": "Qdrant Vector Store",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    },
    "Qdrant Vector Store1": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Recursive Character Text Splitter": {
      "ai_textSplitter": [
        [
          {
            "node": "Default Data Loader",
            "type": "ai_textSplitter",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory1": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "349889eb-5624-4a17-9d33-00326dd2f05f",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "558d88703fb65b2d0e44613bc35916258b0f0bf983c5d4730c00c424b77ca36a"
  },
  "id": "T3wxXlj3PIGCWHNj",
  "tags": []
}